# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln
/*.user
/*.booproj
/*.unityproj

# =========== #
# Folders #
# =========== #
[Dd]ebug*
[Rr]elease*